* {
    padding: 0.5px;
    margin: 0.5px;
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

/*header*/

.headerBox {
    height: 12vh;
}

.bannerHeader {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    cursor: pointer;
    height: 10vh;
    margin-top: 3vh;
    font-size: 0.9em;
}

.logoNHeader {
    height: 16vh;
    width: 16vw;
}


/*navegacion*/
.navegacionHeader ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacionHeader a {
    display: block;
    padding: 2em;
    text-decoration: none;
}

.navegacionHeader a:hover {
    color: darkgoldenrod;
    font-size: 120%;
}

.navegacionHeader ul li ul {
    display: none;
}

.navegacionHeader ul li a:hover+ul,
.navegacionHeader ul li ul:hover {
    display: block;
}

.menuHeader {
    position: relative;
}

.menuHeader li a {
    position: relative;
    font-weight: bold;
    margin: 0px 15px;
    color: #47524b;
    text-decoration: none;
}

.menuHeader li a {
    transition: all 0.5s;
}

.menuHeader li a:hover {
    color: darkgoldenrod;
}

.subMenuTiendaH {
    position: absolute;
    background-color: snow;
    text-decoration: none;
    color: #47524b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*main contacto*/

.contacto {
    display: flex;
    justify-content: center;
    margin: 3vh;
   }

.texContac {
    width: 35%;
    padding-right: 7vw;
    line-height: 3.5vh;
}
.titleContac {
    margin-bottom: 3vh;
    font-size: 1.5em;
}

.formulario {
    width: 60vh;
    line-height: 220%;
}

.inputContac {
    width: 25vw;
    height: 4vh;
}

.send {
    margin: 2vh;
    height: 4vh;
    width: 20vh;
    color: white;
    border: none;
    border-radius: 42px 42px 42px 42px;
    background: #47524b;
    margin-left: -0.5vh;
    cursor: pointer;
    transition: 0.4s;
}

.send:hover {
    height: 4.5vh;
    box-shadow: 10px 5px 5px rgb(161, 160, 160);
    background-color: rgb(237, 242, 241);
    color: #47524b;
    border-color: #47524b;
    transition: 0.4s;
}
/*footer*/
.footerBoxTop {
    background-color: #495b51;
    color: snow;
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

.logoBFooter {
    height: 15vh;
    width: 15vw;
}

.contacFooter {
    width: 35vw;
    /*justify-content: start;
    align-items: center;*/
    margin-top: 5vh;
}

.footerBoxEnd {
    background-color: #495b51;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
}

.copyright {
    margin-left: 2vw;
}

.sizeWhatsapp {
    height: 7vh;
    width: 3vw;
}